# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bazel with CLion
.clwb/

# Bazel with Idea
.ijwb/
.idea/

# Pycharm 
__pycache__/


# Bazel 
bazel-bin
bazel-KeirosPublic
bazel-out
bazel-testlogs

# External
external/wolfssl
external/curl
external/bigint
external/json
external/randomx
